/* Resetear estilos y definir propiedades generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

h1,h2,h3,p,ul,li {
    margin: 0;
    padding: 0;
}

/* Estructura general */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 2%;
    float: left;
}

nav {
    background-color: #f2f2f2;
    width: 60%;
    padding: 25px;
}

.contenido{
    width: 70%;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0px;
}


.lateral {
    background-color: #f2f2f2;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

/* Estilo para el pie de pagina*/
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 14%;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style: none;
    padding-right: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
    padding-right: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ddd;
    padding-right: 15px;
    color: #333;
}

/* Estilos específicos para secciones */
section> h1{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Estilos para las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Estilos para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #333;
}

th,
td {
    padding: 8px;
    text-align: left;
}

/* Estilos para los formularios */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

form input[type="radio"],
form input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

form input[type="submit"],
form input[type="reset"] {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Estilos específicos para la tabla de estadísticas */
table caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
label, fieldset>p{
    color: rgb(53, 52, 52);
}